<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Details</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events; let i = index">
      <td>{{i + 1}}</td>
      <td><p *ngIf="event">{{event.title}}</p></td>
      <td><button type="button" mat-raised-button color="accent" (click)="viewDetails(event)">View</button></td>
      <td *ngIf="event.createdBy === currentUser?.uid">
        <button mat-icon-button color="primary" (click)="onEdit(event)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
      <td *ngIf="event.createdBy === currentUser?.uid">
        <button mat-icon-button color="warn" (click)="onDelete(event.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Detailed View of Selected Event -->
<div *ngIf="newEvent.id">
  <h2>Event Details</h2>
  <p><strong>Title:</strong> {{ newEvent.title }}</p>
  <p><strong>Description:</strong> {{ newEvent.description }}</p>
  <p><strong>Location:</strong> {{ newEvent.location }}</p>
</div>
